@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Roboto&display=swap");
:root {
  --dark: #408080;
  --light: #b4e1b4;
  --marquee-width: 99%;
  --marquee-height: 25vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(
    var(--marquee-width) / var(--marquee-elements-displayed)
  );
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  font-weight: 300;
  color: var(--dark);
  position: relative;
  z-index: 1;
}

h1,
h2,
h3,
h4 {
  font-family: "Poiret One", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.container {
  max-width: 99vw;
  margin: 0 auto;
}
.container-md {
  max-width: 99vw;
  margin: 0 auto;
}

.header {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #eef9ee;
  overflow: hidden;
}

.nav {
  padding: 2rem 0;
  background-color: var(--light);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  z-index: 999;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  font-size: 5rem;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}

.top-nav {
  display: none;
}
.nav-list {
  font-family: "Poiret One", sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  z-index: 999;
}
.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link,
.nav-link:visited {
  padding: 0.8rem 1rem;
  transition: all 0.3s ease-in-out;
}

.nav-link.icon {
  font-size: 3rem;
}

.hamburger {
  display: none;
}
.cart-icon {
  display: none;
}

.header .hero-img {
  position: absolute;
  bottom: 5%;
  right: 20rem;
  height: 83.5rem;
  object-fit: contain;
}
.hero-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
}

.hero-content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 7.5rem;
  margin-bottom: 1rem;
}
.hero-content .discount {
  color: orangered;
}
.hero-content h1 span {
  font-size: 6rem;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  z-index: 2;
}
.hero-content .color {
  color: orange;
}
.btn {
  display: inline-block;
  background-color: var(--light);
  padding: 1rem 4rem;
  border-radius: 5rem;
  color: var(--dark);
  font-size: 2.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 3rem;
}
/* Main Area */
.section {
  padding: 10rem 0 5rem 0;
  background-color: #eef9ee;
}
.advert-center {
  align-items: center;
  max-width: 99%;
  margin: 0 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.advert-box {
  position: relative;
  background-color: #fff;
  height: 60rem;
  border-radius: 1.5rem;
  padding: 1.6rem;
  overflow: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.advert-box:hover {
  transform: translateY(-30px);
}
.advert-box img {
  position: absolute;
  bottom: 0;
  left: -20%;
  height: 100%;
  width: 95%;
  z-index: -1;
}
.advert-box:nth-child(1) {
  background-color: rgb(248, 215, 154);
}
.advert-box:nth-child(2) {
  background-color: rgb(206, 171, 240);
}
.advert-box:nth-child(3) {
  background-color: rgb(243, 185, 185);
}

.advert-box .dotted {
  position: relative;
  height: 100%;
  border: 2px dashed #f1f1f1;
  border-radius: 1rem;
}
.advert-box .content {
  position: absolute;
  top: 50%;
  right: 9%;
  transform: translate(0, -50%);
}
.advert-box .content h2,
.advert-box .content h4 {
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 3rem;
  text-align: center;
}
.advert-box .content h2 {
  line-height: 1.3;
  font-size: 4rem;
  color: rgb(136, 48, 136);
}

/* Featured Section */
.featured {
  background-color: #eef9ee;
}
.product {
  border-radius: 3rem;
}
.product-header {
  background-color: #fff;
  border-radius: 3rem;
}
.title {
  margin: 4rem 0 7rem 0;
  text-align: center;
}
.title h1 {
  font-size: 6rem;
  display: inline-block;
  position: relative;
  z-index: 0;
}
.title h1::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translate(-50%, -50%);
  background-color: var(--light);
  width: 50%;
  height: 0.4rem;
  z-index: 1;
}

.product-center .container {
  height: 100%;
  width: 99vw;
}

.product-center {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 23rem 3rem;
  align-items: center;
  max-width: 99%;
  max-height: 100%;
  margin: 0 1rem;
}

.product {
  height: 48rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  transition: all 0.5s ease;
}

.product:hover {
  transform: translateY(-30px);
}
.product-header {
  position: relative;
  height: 56rem;
  transition: all 0.5s ease;
  z-index: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product-header img {
  height: 100%;
}
.product-footer {
  padding: 1rem 0;
}
.product-footer p {
  font-size: 3rem;
  font-family: "Poiret One", sans-serif;
}

.product-footer a {
  text-decoration: none;
}

.product-footer a:hover {
  font-weight: 700;
  color: orangered;
}
.rating {
  color: orangered;
  font-size: 2rem;
}
.product-footer .price {
  background-color: var(--dark);
  color: #fff;
  padding: 1rem 0;
  font-size: 3rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.product:hover .product-header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 3rem;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
  z-index: 1;
  transition: all 0.5s ease;
}
.product-header .icons {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(0, -50%) scale(0);
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease;
}
.product-header .icons span {
  background-color: var(--light);
  font-size: 4rem;
  display: block;
  border-radius: 50%;
  padding: 1.5rem 1.5rem;
  line-height: 2rem;
  cursor: pointer;
  transition: all 0.5s ease;
}
.product-header .icons span i {
  transition: all 0.5s ease;
}
.product-header .icons span:not(:last-child) {
  margin-bottom: 1rem;
}
.product-header .icons span:hover {
  background-color: orangered;
  color: #fff;
  transition: all 0.1s ease;
}

.product:hover .icons {
  opacity: 1;
  transform: translate(0, -50%) scale(1);
}
.product:hover .icons a {
  display: block;
  margin-bottom: 1rem;
}
/* End Featured Section */

/* Latest Section */
.featured-latest {
  padding: 23rem 0;
}
.featured-latest-2 {
  padding: 4rem 0;
}

/* Product Banner */
.product-banner {
  margin-top: 20rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 50rem;
  background-color: #b4e1b4;
  color: #eef9ee;
}
.product-banner .left {
  background: url(../img/banner.png);
  height: 100%;
  width: 105%;
  background-color: #fff;
}
.product-banner .right {
  align-self: center;
  text-align: center;
  padding: 1.6rem;
}
.product-banner .content h2 {
  color: #272a43;
  font-size: 5rem;
  margin-bottom: 3rem;
}
.product-banner .content span {
  font-family: "Roboto", sans-serif;
  font-size: 5rem;
  font-weight: 100;
  color: #3291eb;
  display: block;
  font-weight: 700;
}
.product-banner .btn {
  background-color: #3291eb;
  color: #fff;
}
.product-banner .btn:hover {
  background-color: #fff;
  color: #3291eb;
}
.product-banner .content .discount {
  font-size: 8rem;
  font-weight: bold;
}

/* Testimonial */

.testimonial-center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-content: center;
  gap: 12rem;
  margin: 2rem 0;
}
.testimonial {
  position: relative;
  padding: 5rem;
  background-color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
  color: #b4e1b4;
  transition: all 0.5s ease;
  border-radius: 2rem;
  text-align: center;
}
.testimonial:hover {
  box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
  transform: translateY(-1rem);
}

.testimonial span {
  position: absolute;
  top: 2%;
  left: 50%;
  font-size: 12rem;
  transform: translate(-50%, 0);
  line-height: 1;
}
.testimonial p {
  margin: 1rem 0.3rem;
  color: #fff;
}
.testimonial .rating {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #ffcc00;
}
.testimonial .img-cover img {
  height: 100%;
  object-fit: cover;
  border-radius: 55%;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 5px 15px;
}

.testimonial h4 {
  font-family: "Poiret One", sans-serif;
  font-size: 5rem;
  font-weight: 100;
  color: #fff;
  margin: 0.3rem 0;
}

/* Brands */
.brands-center {
  display: flex;

  gap: 3rem;
}
.brand {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
.brand img {
  height: 100%;
  width: 100%;
  background-color: #fff;
  object-fit: contain;
}
/* End Main Area */

/* ====================================================
====================================================
==================================================== */

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
  .container-md {
    padding: 0 3rem;
  }
  .header .hero-img {
    position: absolute;
    bottom: 10%;
    right: 5rem;
    height: 74.5rem;
    object-fit: contain;
  }
  .hero-content {
    position: absolute;
    top: 50%;
    left: -8%;
    transform: translate(20%, -50%);
  }
  .advert-box {
    height: 35rem;
  }
  .product-banner .left {
    background: url(../img/banner1.png);
    height: 100%;
    width: 100vw;
    background-color: #fff;
  }
  .testimonial-center {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    gap: 1rem;
    margin: 2rem 0 0 0;
  }
  .testimonial {
    position: relative;
    width: 370px;
  }
}

@media only screen and (max-width: 995px) {
  .header {
    min-height: 100vh;
  }
  .header .hero-img {
    bottom: 20%;
    right: 5rem;
    height: 64.5rem;
    object-fit: contain;
  }
  .hero-content {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translate(20%, -50%);
  }
  .hero-content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 5.5rem;
    margin-bottom: 1rem;
  }

  .hero-content h1 span {
    font-size: 4rem;
  }
  .advert-box {
    height: 45rem;
  }
  .product-center {
    max-width: 100%;
    gap: 25rem 1rem;
  }
  .product-banner .left {
    background: url(../img/banner.png);
    height: 100%;
    width: 100vw;
    background-color: #fff;
  }
  .product-banner .content h2 span {
    font-size: 4rem;
  }
}
@media only screen and (max-width: 768px) {
  .logo h1 {
    margin-left: 1rem;
  }

  .navigation {
    z-index: 999;
  }

  .nav.fix-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  .nav.fix-nav .nav-link,
  .nav.fix-nav .logo,
  .nav.fix-nav .cart-icon,
  .nav.fix-nav .hamburger {
    color: #fff;
    padding: 0 1rem;
  }
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    max-width: 50rem;
    height: 100%;
    background-color: #eef9ee;
    transition: all 0.5s ease-in-out;
    z-index: 100;
  }
  .menu.show {
    left: 0;
  }
  .top-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    padding: 1.6rem 1.6rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
  .top-nav .logo {
    color: var(--light);
  }
  .top-nav .close {
    color: var(--light);
    font-size: 5rem;
    padding: 1rem;
    cursor: pointer;
  }
  .cart-icon {
    display: block;
    font-size: 5rem;
  }
  .hamburger {
    display: block;
    font-size: 5rem;
    padding: 0.5rem;
    cursor: pointer;
  }
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 1rem 1.6rem;
    margin: 3rem 0;
  }

  .nav-list a {
    line-height: 3;
    font-size: 4rem;
  }
  .nav-link,
  .nav-link:visited {
    display: block;
    font-size: 3rem;
    padding: 2rem 0;
    text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .nav.fix-nav .nav-link {
    color: var(--dark);
  }
  .nav-link.icon {
    display: none;
  }
  body.show::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 4;
  }
  .nav.show {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .header .hero-img {
    position: absolute;
    bottom: 45%;
    right: -2rem;
    height: 54.5rem;
    object-fit: contain;
  }
  .header {
    min-height: 100vh;
  }
  .header .hero-img {
    bottom: 5%;
    right: 0.2rem;
    height: 65rem;
    object-fit: contain;
  }
  .hero-content {
    position: absolute;
    top: 50%;
    left: -3rem;
    transform: translate(20%, -50%);
  }
  .hero-content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }

  .hero-content h1 span {
    font-size: 3rem;
  }

  .advert-center {
    display: grid;
    grid-template-columns: 750px;
    gap: 4rem;
    align-items: center;
    height: 99%;
    margin: 1rem 1rem;
    padding: 5rem 0;
  }
  .advert-box {
    height: 60rem;
    width: 60rem;
  }
  .product:hover {
    transform: translateY(-5px);
  }
  .product-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
  }

  .product-banner {
    margin-top: 15rem;
    height: 50vh;
  }

  .product-banner .left {
    background: url(../img/banner1.png);
    height: 50vh;
    background-color: #fff;
  }

  .product-banner .right {
    height: 50vh;
  }
  .product-banner .content h2 {
    font-size: 2rem;
  }
  .product-banner .content span {
    font-size: 3rem;
  }
  .product-banner .content .discount {
    font-size: 5rem;
  }
  .container {
    padding: 0;
    width: 99vw;
  }
  .testimonial-center {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 4rem;
    margin: 2rem 0 0 7rem;
  }
  .testimonial {
    position: relative;
    width: 570px;
  }
}
@media only screen and (max-width: 500px) {
  .logo h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0;
  }
  .header {
    min-height: 100vh;
  }
  .header .hero-img {
    bottom: -28%;
    right: 0rem;
    height: 65rem;
    object-fit: contain;
  }

  .nav-list a {
    line-height: 2;
  }
  .hero-content {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 5%;
    transform: translate(15%, -50%);
  }
  .hero-content h2 {
    font-family: "Roboto", sans-serif;
    font-size: 3rem;
    margin-top: 1rem;
  }
  .hero-content .color {
    font-size: 3rem;
  }
  .hero-.content .btn {
    margin: 1rem 0;
    padding: 0;
  }

  .hero-content h1 span {
    font-size: 3rem;
  }
  .advert-box .content h2 {
    color: #fff;
  }
  .advert-box {
    height: 29rem;
    width: 94vw;
    margin-top: 2rem;
  }
  .advert-center {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    align-items: center;
    height: 100%;
    width: 99vw;
    margin-right: 2rem;
    color: #fff;
  }

  .product-center {
    display: grid;
    grid-template-columns: 1fr;
    width: 97vw;
  }
  .product {
    width: 100%;
    margin: 1rem 0;
  }
  .title h1 {
    font-size: 4rem;
  }

  .product-banner .content h2 {
    font-size: 2rem;
  }
  .product-banner .content span {
    font-size: 2rem;
  }
  .product-banner .content .discount {
    font-size: 4rem;
  }
  .product-banner .btn {
    font-size: 1.5rem;
  }

  .product-banner .right {
    width: 100vw;
  }

  .section {
    width: 100vw;
  }
  .featured-latest {
    padding-bottom: 5rem;
    padding-top: 10rem;
  }
  .featured-latest-2 {
    padding: 12rem 0;
  }
  .testimonial-center {
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    gap: 2rem;
    margin: 1rem 1rem;

    width: 29rem;
  }
  .testimonial {
    position: relative;
    width: 95vw;
    padding: 1rem 0;
  }

  .testimonial .title {
    padding: 1rem 0;
  }
  .testimonial h4 {
    font-size: 3rem;
  }

  .testimonial p {
    font-size: 1.5rem;
    padding: 3rem 0.5rem;
  }

  .testimonial .img-cover img {
    width: 80%;
  }
  .testimonial span {
    font-size: 5rem;
    padding: 1rem;
  }

  .testimonial .rating {
    font-size: 2rem;
  }

  .product-banner {
    margin-top: 15rem;
    display: grid;
    grid-template-columns: 1fr;
    height: 55rem;
    width: 100vw;
    background-color: #b4e1b4;
    color: #eef9ee;
  }
  .product-banner .left {
    height: 20rem;
  }
  .product-header {
    position: relative;
    height: 48rem;
    transition: all 0.5s ease;
    z-index: 0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .product-footer p {
    text-decoration: none;
  }
  .product-footer {
    max-width: 97vw;
  }
  .product {
    width: 94vw;
  }
  .hamburger {
    padding: 0 3rem;
  }
  .bx-shopping-bag {
    margin-left: 2rem;
  }
  .container {
    padding: 0;
    width: 100vw;
  }
  .testimonials {
    padding: 0.2rem 0;
  }
  .banner-1 {
    padding: 0.2rem 0;
  }
}

/* Carousel */
:root {
  --marquee-width: 99vw;
  --marquee-height: 27vh;
  --marquee-elements-displayed: 3;
}
.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: #408080;
  color: #eee;
  overflow: hidden;
  position: relative;
  top: -3rem;
}
.marquee:before,
.marquee:after {
  position: absolute;
  top: 0;
  width: 26rem;
  height: 100%;
  content: "";
  z-index: 1;
}
.marquee:before {
  left: 0;
  background: linear-gradient(to right, #408080 0%, transparent 100%);
}
.marquee:after {
  right: 0;
  background: linear-gradient(to left, #408080 0%, transparent 100%);
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(
      calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
    );
  }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 4px solid #eee;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 7vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 4rem;
  }
  .marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 4px solid #eee;
  }
}
@media (max-width: 995px) {
  html {
    font-size: 12px;
  }
  :root {
    --marquee-width: 98vw;
    --marquee-height: 7vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before,
  .marquee:after {
    width: 4rem;
  }
  .marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 4px solid #eee;
  }
}

/* ======================== Footer ======================== */

.footer-dark {
  padding: 50px 0;
  color: #fff;
  background-color: #408080;
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 3rem;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 2rem;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 20px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  font-size: 2rem;
  margin-bottom: 0;
  color: #fff;
  font-family: "Poiret One";
}
